div(class="breadcrumbs")
    ul(class="breadcrumb")
    div(class="nav-search")
        div(class="form-search")
            span(class="input-icon")
                i(class="icon-search nav-search-icon")
                input(class="nav-search-input")